key_youtube=
key_gemini=

pepper=

DATABASE_URL_SYNC=
DATABASE_URL_ASYNC=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE= 

aws_access_key_id=
aws_secrety_access_key=
endpoint_url_bucket=

COOKIE_SECURE=
COOKIE_SAMESITE=
COOKIE_DOMAIN=