key_youtube=
key_gemini=

pepper=

ALEMBIC_URL=
DATABASE_URL_SESSION=
DATABASE_URL_TRANSACTION=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

ENV=

key_resendre_VSwPFWEJ_MK7Z6fsj9N2XrM1zf73iK6P5
email_from=

front=

REDIS_URL=