key_youtube=
key_gemini=

pepper=

ALEMBIC_URL=
DATABASE_URL_SESSION=
DATABASE_URL_TRANSACTION=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE=
REFRESH_TOKEN_EXPIRE=

ENV=

key_resend=
email_from=

front=

REDIS_URL=