argon2-cffi==25.1.0
asyncpg==0.31.0
email-validator==2.3.0
fastapi==0.135.1
google-api-core==2.30.0
google-api-python-client==2.193.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
googleapis-common-protos==1.73.1
gunicorn==25.1.0
psycopg2-binary==2.9.11
pydantic==2.12.5
PyJWT==2.12.1
python-dotenv==1.2.2
redis==7.3.0
slowapi==0.1.9
SQLAlchemy==2.0.48
uvicorn==0.41.0
resend==2.29.0